@media (max-width: 620px){
  nav{
   display: none;
  }
  
  .one,
  .two,
  .three{
    background-color: #ffff;
    height: 3px;
    width: 100%;
    margin: 8px auto;
    transition-duration: 0.3s;
  }
  
  img.brand{
    display: none;
  }
  
  .menu-toggle{
    width: 40px;
    height: 20px;
    top: 0;
    right: 5px;
    margin-right: 30px;
  }
  
  /*menu aberto*/
  .top-nav.on{
    position: absolute;
    top: 0;
    left: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgb(19, 19, 19);
    z-index: 10; 
    justify-content: center;
    align-items: center;
  } 
  
  .top-nav.on nav{ /*acesso ao elemento nav com o menu clicado*/
    display:block; /*menu é habilitado novamente por cima do menu clicado*/
    flex-direction: column;
  }
  
  .top-nav.on .menu-toggle{/*posicionamento do ícone*/
    position: absolute;
    right: 0;
    top: 15px;
  }
  
  .top-nav.on .menu-toggle .one{/*posicionamento das barras com o menu clicado*/
    transform:rotate(45deg) translate(7px, 7px);
  }
  
  .top-nav.on .menu-toggle .two{
    opacity: 0;
  }
  
  .top-nav.on .menu-toggle .three{
    transform:rotate(-45deg) translate(9px, -9px);
  }
  
  .top-nav.on nav li{
    margin: auto;
    width: auto;
  }
  
  .top-nav.on nav ul{
    margin: auto;
    display: block;
    text-align: center;
  }
  
  .top-nav.on nav ul a{
    transition-duration: 0.5s;
    font-size: 1.5rem;
    line-height: 4rem;
  }
}
