@media only screen and (max-width: 1228px){
    
    #diagonal{
        margin-bottom: 200px;
        opacity: 100%;
        width: 150%;
        height: 180%;
        transform: rotate(-27deg);
        background-color: rgb(153, 107, 195);
        z-index: -1;
    }

    img#ilustra{
       position: absolute;
       height: 320px;
       left: 66vw;
    }

    img.brand{
        margin-left: -200px;
    }

    #home-container .line{
        display: flex;
        width: 33vw;
    }

    div#home-container h2{
        font-size: 4vh;
    }
    
}
