@media only screen and (max-width: 992px){
   
    /*animação máquina de escrever*/
    #home-container .line{
        display: flex;
        width: 90vw;
        margin-top: 20vh;
        margin-left: 2vw;
        font-size: 5vh;
        font-family: 'Source Code Pro', monospace;
        font-style: bold;
        border-right: 0.3vh solid rgba(255, 255, 255, 0.75);
    }
    
    .typing-animation{
        animation: none;
    }                                                         

    img.brand{
        display: block;
        position: absolute;
        right: 3vw;
        top: 0.5vh;
        height: 3.5vh;
    }

    nav{
      width: 100%;  
      padding-top: 6vh;
      justify-content: center;
    }
    
    .nav-list a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        height: auto;
        padding: 0.1vh 2vw;
        text-decoration: none;
        font-size: 17px;
    }

    .nav-list li{
        padding: 1vh;
        margin-top: 2vh;
        margin-bottom: 2vh;
        align-items: center;
        padding: 2vh 2vw;
        display: block;

    }

    .nav-list{
        overflow: hidden;
        padding-top: 1vh;
    }

    #diagonal{
        opacity: 90%;
        width: 120%;
        height: 150%;
        padding-left: 5vw;
        background-color: rgb(153, 107, 195);
        transform: rotate(-0deg);
        margin-top: 5vh;
    }

    img#ilustra{
        margin-left: 15%;
        margin-right: 15%;
        top: 60vh;
        left: 1vw;
        height: 260px;
        width: auto;
        animation: none;
    }

    ul{
        margin-top: -40px;
    }
     
    div#about-container h1, div#skills-container h1, div#gallery-container h1{
        width: auto;
        font-size: 5vh;
    }
  
    div#home-container h2{
        align-items: center;
        display: flex;
        z-index: 1;
        font-size: 4vh;
        position: absolute;
        margin: -10px;
    }

    /*ABOUT*/
    div#about-container{
        padding: 0;
        justify-content: center;
        display: block;
        background-color: black;
        height: 110vh;
    }
 
    div#about-description{
        font-size: 2vh;
        padding-top: 5px;
        margin-bottom: 20vh;
    }

    div#about-container h2{
        padding-top: 9vh;
        font-family: 'Source Code Pro', monospace;
        color:white;
        font-size: 3vh;
        text-align: justify;   
        margin: 1vw;
    }
    
    #about-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    } 

    div#about-container img{
        margin-left: 5vh;     
        scale: 70%;
    }

    /*footer*/
    footer #gleysi{
        font-size: 16px;
    }

    footer #social{
        font-size: 14px;
    }   

    
    .cards .card1:active p.estatic-text{
        opacity: 0;
    }

    #footer-icons:active, .fa-solid.fa-comments:active, .fa-solid.fa-people-group:active, .fa-solid.fa-pen-clip:active{
        color:rgb(153, 107, 195);
        transition:0.2s;
        cursor: pointer;
    }

    .card1 .fa-html5:active{
        color: rgb(215, 102, 61);
        cursor: pointer;
    }

    .card2 .fa-css3:active{
        color: rgb(44, 44, 175);
        cursor: pointer;
    }

    .card3 .fa-js:active{
        color: rgb(231, 231, 104);
        cursor: pointer;
    }

    #soon:active{
        letter-spacing: 2px;
        word-spacing: 2px;
        cursor: pointer;
        transition:0.2s;
    }

    /* .square:active .overlay {
        opacity: 70%;
    } */

    #about-description {
        padding: 5vh 8vw 2vh 8vw;
        font-size: 2vh;
    }
}