@media (max-width: 620px){
  div#about-container{
      overflow: hidden;
      display: block;
      height: auto;
      padding-bottom: 2vh;
      background-color: black;
  }

  #about-content{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  img#profile-pic{
      width: 70%;
      height: auto;
      border-radius: 2%;
      padding-bottom: 10vh;
  }

  p#about-description{
      margin-top: -15vh;
  }
}