@media only screen and (max-width: 768px){

  div#home-container h2{
    font-size: 3vh;
  }

  /*about*/
  p#about-description{
    margin-top: -8vh;
  }
  
  /*skills*/
  .skills-content{
    width: auto;
    height: auto;
    margin: 15vh 20vw 0 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
  }

  .skills-content > div{
    width: auto;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
  }

  .cards .card1 p.description1,
  .cards .card2 p.description2{
    padding-top: 80vh;
  }

  .cards .card3 p.description3,
  .cards .card4 p.description4{
    padding-top: 20vh;
  }
        
}
